* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background: black;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  background: black;
  color: white;
}

